:root {
    --feed--font-color: #3B3D3F;
    --feed--gray: #F4F5F5;
    --feed--red: #FC3401;
    --feed--blue: #03B9ED;
    --feed--separator-color: #DBE4EB;
}

.feed {
    display: flex;
    flex-direction: column;
    flex-basis: 30rem;
    z-index: 999;
    min-height: 50rem;
    border: 1px solid var(--feed--separator-color);
    background-color: #FFFFFF;
    -webkit-box-shadow: 7px 2px 21px -6px rgba(59,61,63,0.74); 
    box-shadow: 7px 2px 21px -6px rgba(59,61,63,0.74);
}

