:root {
    --email-box--font-color: #3B3D3F;
    --email-box--gray: #F4F5F5;
    --email-box--red: #FC3401;
    --email-box--blue: #03B9ED;
    --email-box--separator-color: #DBE4EB;
}


.email-box {
    background-color: var(--email-box--gray);
    width: 100%;
    flex-basis: 60rem;
    border-width: 1px 1px 1px 0px;
    border-color: var(--feed-search--separator-color);
    border-style: solid;
}