:root {
    --feed-filter--font-color: #3B3D3F;
    --feed-filter--gray: #F4F5F5;
    --feed-filter--red: #FC3401;
    --feed-filter--blue: #03B9ED;
}

.feed-filter__button {
    display: flex;
    cursor: pointer;
    background-color: var(--feed-filter--gray);
    border: 1px solid var(--feed-filter--font-color);
    justify-content: space-between;
    height: 1.5em;
    align-items: center;
}

.feed-filter__button::after {
 content: 'das';   
}

.feed-filter__arrows {
    border-left: 1px solid var(--feed-filter--font-color);
    height: 100%;
}